@import "../variable";

.p-dropdown {
  font-size: 1rem;
  font-family: 'SF-Pro-Rounded', sans-serif;
  font-weight: 400;

  &:not(.p-disabled):hover {
    border-color: $light-100;
  }

  &:not(.p-disabled).p-focus {
    box-shadow: 0 0 0 0.2rem $light-200;
    border-color: $light-100;
  }
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: $dark-200;
  background: $light-200;
}
