<div class="auth-wrapper">
  <h1 class="title">{{ 'LOGIN.title' | translate }}</h1>
  <h2 class="subtitle">{{ 'LOGIN.subtitle' | translate }}</h2>

  <app-auth-error-message></app-auth-error-message>

  <form class="form" [formGroup]="loginForm">
    <div class="form-field">
      <label>{{ 'LOGIN.email' | translate }}</label>
      <input formControlName="email"
             type="text"
             pInputText>
      <app-field-error-message [control]="loginForm.controls.email"></app-field-error-message>
    </div>

    <div class="form-field">
      <label>{{ 'LOGIN.password' | translate }}</label>
      <input formControlName="password"
             type="password"
             pInputText>
      <div class="display-flex">
        <app-field-error-message [control]="loginForm.controls.password"></app-field-error-message>
        <div
          class="forgot"
          routerLink="/forgot-password"
          [state]="{ email: loginForm.controls.email.valid ? loginForm.controls.email.value : ''}">
          {{ 'LOGIN.forgot' | translate }}
        </div>
      </div>
    </div>

    <div class="actions">
      <button
        [appSpinner]="isLoading$ | async"
        (click)="login()"
        pButton
        [disabled]="(isLoading$ | async) || loginForm.invalid"
        label="{{ 'LOGIN.button' | translate }}"
      >
      </button>
    </div>

    <div class="link">
      {{ 'LOGIN.link' | translate }}
      <span routerLink="/register">{{ 'LOGIN.span' | translate }}</span>
    </div>
  </form>
</div>
