<h1 class="title">Welcome back</h1>
<h2 class="subtitle">Continue track your progress</h2>

<app-auth-error-message *ngIf="errorAfterLoading$ | async" [message]="errorMessage$ | async"></app-auth-error-message>

<form class="form" [formGroup]="loginForm">
  <div class="form-field">
    <label>Email</label>
    <input formControlName="email"
           type="text"
           pInputText>
    <app-field-error-message [control]="loginForm.controls.email"></app-field-error-message>
  </div>

  <div class="form-field">
    <label>Password</label>
    <input formControlName="password"
           type="password"
           pInputText>
    <div class="forgot">Forgot password?</div>
    <app-field-error-message [control]="loginForm.controls.password"></app-field-error-message>
  </div>

  <div class="actions">
    <button
      [disabled]="loginForm.invalid || (isLoading$ | async)"
      [appSpinner]="isLoading$ | async"
      (click)="login()"
      [label]="(isLoading$ | async) ? ' ' : 'Log In'"
      pButton
    ></button>
  </div>

  <div class="link">
    Still don’t have an account?
    <span routerLink="/register">Sign up</span>
  </div>
</form>

