<form action="" class="form" [formGroup]="form">
  <div class="form-field">
    <label>Name</label>
    <input formControlName="name"
          type="text"
           pInputText>
  </div>

  <div class="form-field">
    <label>Description</label>
    <textarea formControlName="description" rows="5" cols="30" pInputTextarea></textarea>
  </div>

  <div class="form-field">
    <label>Difficulty</label>
    <p-dropdown formControlName="difficulty" [options]="difficulty" optionLabel="name" optionValue="name">
    </p-dropdown>
  </div>

  <div class="form-field">
    <label>Weight Type</label>
    <p-dropdown [options]="weightType" formControlName="weightType" optionLabel="name" optionValue="name"></p-dropdown>
  </div>

  <div class="form-field">
    <label>Primary Region</label>
    <p-dropdown [options]="region" formControlName="primaryRegion" optionLabel="name" optionValue="name"></p-dropdown>
  </div>

  <div class="form-field">
    <label>Secondary Region</label>
    <p-dropdown [options]="region" formControlName="secondaryRegion" optionLabel="name" optionValue="name"></p-dropdown>
  </div>

  <button>Add</button>
</form>
