<header class="header">
  <div class="left">
    <img
      (click)="toggle.emit()"
      class="menu-button"
      src="assets/images/pages/menu-icon.svg"
      alt="menu"
    >
    <h1 class="title">{{title}}</h1>
  </div>
  <div class="right">
    <div class="user">
      <div class="info">
        <div class="name">{{name$ | async}}</div>
        <div class="email">{{email$ | async}}</div>
      </div>
      <div class="img">
        <p-avatar [label]="(avatarLabel$ | async) || ' '"></p-avatar>
      </div>
    </div>
    <button pButton class="button"><img src="assets/images/pages/exit-icon.svg" alt="exit"></button>
  </div>
</header>

