<h1 class="title">Change your password</h1>
<h2 class="subtitle">Try to come up with a complex but easy to remember password</h2>

<app-auth-error-message></app-auth-error-message>

<form class="form" action="" [formGroup]="form">

  <div class="form-field">
    <label>Password</label>
    <input formControlName="password"
           type="password"
           pInputText>
    <app-field-error-message [control]="form.controls.password"></app-field-error-message>
  </div>

  <div class="form-field">
    <label>Password confirmation</label>
    <input formControlName="confirmPassword"
           type="password"
           pInputText>
    <app-field-error-message *ngIf="form.controls.confirmPassword.touched" [control]="form"></app-field-error-message>
  </div>

  <div class="actions">
    <button
      [disabled]="form.invalid || (isLoading$ | async)"
      [appSpinner]="isLoading$ | async"
      (click)="resetPassword()"
      pButton
      label="Change"
    ></button>
  </div>

  <div class="link">
    Remembered your password?
    <span routerLink="/login">Log In</span>
  </div>
</form>
