<div class="auth-wrapper">
  <h1 class="title">{{ 'RESET.title' | translate }}</h1>
  <h2 class="subtitle">{{ 'RESET.subtitle' | translate }}</h2>

  <app-auth-error-message></app-auth-error-message>

  <form class="form" action="" [formGroup]="form">

  <div class="form-field">
    <label>{{ 'RESET.password' | translate }}</label>
    <input formControlName="password"
           type="password"
           pInputText>
    <app-field-error-message [control]="form.controls.password"></app-field-error-message>
  </div>

  <div class="form-field">
    <label>{{ 'RESET.deleteWorkout' | translate }}</label>
    <input formControlName="confirmPassword"
           type="password"
           pInputText>
    <app-field-error-message *ngIf="form.controls.confirmPassword.touched" [control]="form"></app-field-error-message>
  </div>

  <div class="actions">
    <button
      [disabled]="form.invalid || (isLoading$ | async)"
      [appSpinner]="isLoading$ | async"
      (click)="resetPassword()"
      pButton
      label="{{ 'RESET.button' | translate }}"
    ></button>
  </div>

  <div class="link">
    {{ 'RESET.link' | translate }}
    <span routerLink="/login">{{ 'RESET.span' | translate }}</span>
  </div>
</form>

</div>
