<div class="flex">
  <div class="workouts-exercise-list">
   <div class="search"><input type="text" pInputText placeholder="Enter workout name" /></div>
    <div class="list"></div>
    <div class="buttons">
      <button pButton pRipple label="Create workout" class="button"></button>
      <button pButton pRipple label="Cancel" class="p-button-secondary button"></button>
    </div>
  </div>
  <div class="exercise-list">
    <app-add-exercise></app-add-exercise>
    <div class="available-exercise">
      <app-filters></app-filters>

    </div>
  </div>
</div>
