@import "variable";

.auth {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  background-color: $dark-200;
  position: relative;

  .header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 1.8rem;
    z-index: 10;
  }

  p-carousel {
    width: 60vw;

    .image {
      display: flex;
      height: 100vh;
      flex-direction: column;
      justify-content: flex-end;
      color: $light-400;
      padding: 3.875rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      letter-spacing: 0.025rem;
      line-height: 2.625rem;

      .text {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      .name {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }

      .job {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.375rem;
      }
    }
  }

  .content {
    position: relative;
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    background-color: $light-400;
  }
}

@media (max-width: 768px)
{


  .auth {
    p-carousel {
      .image {
        .text {
          font-size: 1.5rem;
          margin-bottom: 0.6rem;
        }

        .name {
          font-size: 1rem;
          margin-bottom: 0.2rem;
        }

        .job {
          font-weight: 300;
          font-size: 0.8rem;
          line-height: 1.375rem;
        }
      }
    }
  }
}

@media (max-width: 600px)
{
  .auth {
    p-carousel {
      display: none;
    }

    .content {
      width: 100vw;
    }
  }
}
