<div class="auth">
  <div class="image">
    <div class="logo"><img alt="logo image" src="assets/images/logo.svg"></div>
    <div class="quote">
      <div class="text">“We often overestimate how often we do things, but tracking eliminates this weakness. When we track we just have the facts, not our subjective reflections.”</div>
      <div class="name">Betsy Ramser Jaime</div>
      <div class="job">Freelance Editor</div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

