<div class="auth">
  <p-carousel
    [value]="sliderItems"
    [showNavigators]="false"
    [showIndicators]="false"
    [autoplayInterval]="5000"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
  >
    <ng-template let-sliderItem pTemplate="item">
      <div class="image" [ngStyle]="{ 'background-image': backgroundImageValue(sliderItem.imgUrl) }">
        <div class="logo">
          <img alt="logo image" src="assets/images/logo.svg">
        </div>
        <div class="quote">
          <div class="text">{{sliderItem.text}}</div>
          <div class="name">{{sliderItem.name}}</div>
          <div class="job">{{sliderItem.job}}</div>
        </div>
      </div>
    </ng-template>

  </p-carousel>
  <div class="content">
    <p-dropdown
      class="language-dropdown"
      #dropdown
      [options]="availableLanguages"
      optionLabel="name"
      optionValue="code"
      [(ngModel)]="selectedLanguage"
      (onChange)="switchLanguage(dropdown.value)"
    ></p-dropdown>
    <router-outlet></router-outlet>
  </div>
</div>

