<div class="auth">
  <div class="image" id="image" @carouselAnimation>
    <div class="logo"><img alt="logo image" src="../../assets/images/logo.svg"></div>
    <div class="quote">
      <div class="text">{{currentSlide.text}}</div>
      <div class="footer">
        <div class="quote-item">
          <div class="name">{{currentSlide.name}}</div>
          <div class="job">{{currentSlide.job}}</div>
        </div>
        <div class="buttons">
          <button (click)="prev()" class="button"><img src="../../assets/images/slider/prev.svg" alt="prev"></button>
          <button (click)="next()" class="button"><img src="../../assets/images/slider/next.svg" alt="next"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

