<div class="list" *ngIf="(workouts$ | async)?.length; else empty">
  <div class="filters"></div>
  <div class="cards">
    <button class="button" (click)="createWorkout()">
      <img src="assets/images/pages/plus-outlined-red.svg" alt="add">
    </button>
    <div class="card" *ngFor="let workout of (workouts$ | async)">
      <app-workout-card [workout]="workout"></app-workout-card>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="empty">
    <img src="assets/images/pages/info-circle-filled.svg" alt="info" class="icon">
    <div class="title">Seems like you don’t have any programs</div>
    <div class="subtitle">Create new one and it will appear here</div>
    <button pButton class="button" (click)="createWorkout()" label="Create new"></button>
  </div>
</ng-template>
