<div class="list" *ngIf="(workouts | async)?.length; else empty">
  <button class="button">

  </button>
  <div class="cards">

  </div>
</div>

<ng-template #empty>
  <div class="empty">
    <img src="assets/images/pages/info-circle-filled.svg" alt="info" class="icon">
    <div class="title">Seems like you don’t have any programs</div>
    <div class="subtitle">Create new one and it will appear here</div>
    <button pButton class="button" (click)="createWorkout()" label="Create new"></button>
  </div>
</ng-template>
