<h1 class="title">Create an account</h1>
<h2 class="subtitle">Let’s start track your goal</h2>

<form class="form" action="" [formGroup]="registerForm">

  <div class="form-field">
    <label>Name</label>
    <input formControlName="name"
           type="text"
           pInputText>
    <app-error-message [control]="registerForm.controls.name"></app-error-message>
  </div>

  <div class="form-field">
    <label>Email</label>
    <input formControlName="email"
           type="text"
           pInputText>
    <app-error-message [control]="registerForm.controls.email"></app-error-message>
  </div>

  <div class="form-field">
    <label>Password</label>
    <input formControlName="password"
           type="password"
           pInputText>
    <app-error-message [control]="registerForm.controls.password"></app-error-message>
  </div>

  <div class="form-field">
    <label>Confirm password</label>
    <input formControlName="confirmPassword"
           type="password"
           pInputText>
    <app-error-message *ngIf="registerForm.controls.confirmPassword.touched" [control]="registerForm"></app-error-message>
  </div>

  <div class="actions">
    <button [disabled]="registerForm.invalid" pButton label="Sign Up"></button>
  </div>

  <div class="link">
    Already have an account?
    <span routerLink="login">Log In</span>
  </div>
</form>
