<div class="wrapper">
  <div
    class="forgot-password"
    *ngIf="!isEmailSended || (isPendingError$ | async) === true || (isLoading$ | async) === true"
  >
    <h1 class="title">Forgot your password?</h1>
    <h2 class="subtitle">Get the reset password link via email</h2>

    <div class="form-field">
      <label>Email</label>
      <input [formControl]="forgotPasswordControl"
             type="text"
             pInputText>
      <app-field-error-message [control]="forgotPasswordControl"></app-field-error-message>
    </div>

    <div class="actions">
      <button
        [disabled]="forgotPasswordControl.invalid || (isLoading$ | async)"
        [appSpinner]="isLoading$ | async"
        (click)="reset()"
        pButton
        label="Reset"
      ></button>
    </div>

    <div class="link">
      Remembered your password?
      <span routerLink="/login">Log In</span>
    </div>
  </div>

  <div *ngIf="isEmailSended && (isLoading$ | async) !== true && (isPendingError$ | async) !== true">
    <img src="assets/images/success-icon.svg" alt="success icon" class="success-icon">
    <h1 class="title">Reset password link successfully sent to {{forgotPasswordControl.value}} </h1>
    <h2 class="subtitle">Check your inbox and spam folders and follow the instructions in the message.</h2>
    <div class="actions">
      <button
        routerLink="/login"
        pButton
        label="Go to login page"
      ></button>
    </div>
  </div>

</div>
