<div class="wrapper">
  <div
    class="forgot-password"
    *ngIf="!isEmailSended || (isPendingError$ | async) === true || (isLoading$ | async) === true"
  >
    <h1 class="title">{{ 'FORGOT-PASSWORD.title' | translate }}</h1>
    <h2 class="subtitle">{{ 'FORGOT-PASSWORD.subtitle' | translate }}</h2>

    <div class="form-field">
      <label>{{ 'FORGOT-PASSWORD.email' | translate }}</label>
      <input [formControl]="forgotPasswordControl"
             type="text"
             pInputText>
      <app-field-error-message [control]="forgotPasswordControl"></app-field-error-message>
    </div>

    <div class="actions">
      <button
        [disabled]="forgotPasswordControl.invalid || (isLoading$ | async)"
        [appSpinner]="isLoading$ | async"
        (click)="reset()"
        pButton
        label="{{ 'FORGOT-PASSWORD.button' | translate }}"
      ></button>
    </div>

    <div class="link">
      {{ 'FORGOT-PASSWORD.link' | translate }}
      <span routerLink="/login">{{ 'FORGOT-PASSWORD.span' | translate }}</span>
    </div>
  </div>

  <div *ngIf="isEmailSended && (isLoading$ | async) !== true && (isPendingError$ | async) !== true">
    <img src="assets/images/success-icon.svg" alt="success icon" class="success-icon">
    <h1 class="title">{{ 'FORGOT-MESSAGE.title' | translate }} {{forgotPasswordControl.value}}</h1>
    <h2 class="subtitle">{{ 'FORGOT-MESSAGE.subtitle' | translate }}</h2>
    <div class="actions">
      <button
        routerLink="/login"
        pButton
        label="{{ 'FORGOT-MESSAGE.button' | translate }}"
      ></button>
    </div>

  </div>
</div>
